$text-white: #ffffff;
$button-background: #e73594;
$button-border: #dd358f;
$bg-white: #ffffff; //or rgba(255, 255, 255, .05)
$footer-bg: #1d587d;
$header-background: linear-gradient(0deg, $footer-bg 0%, rgb(59, 76, 100) 100%);
$section-header-bg: #e7f1ee;
$Accordian-text: #707070;
$accordian-bg-false: rgba(0, 0, 0, .03);
$accordian-bg-true: $bg-white;
$footer-link: rgb(98, 224, 255);

$caution: #f99b11;
$light: #f7f7f7;
$link_faded: #d3e4ed;
$link: #0066cc;
$negative: #c7162b; 
$positive_faded: #b7ccb9;
$positive_mid: #4dab4d; 
$positive: #0e8420; 
